<h4 class="title">{{ title }}</h4>
<div class="params-container">
    <div class="param-a-container">
        <span>A:</span>
    </div>
    <div class="param-b-container">
        <span>B:</span>
    </div>
</div>
