{
  "root": true,
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "promise"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "jsx": false
    }
  },
  "rules": {
    "indent": [
      "error",
      4
    ],
    "max-len": [
      "error",
      140,
      2
    ],
    "camelcase": "off",
    //  TODO: We actually want to enable the following rules, but
    //  we need to make updates to our code first
    "no-underscore-dangle": "off",
    "no-nested-ternary": "warn",
    "no-continue": "warn",
    "consistent-return": "warn",
    "no-param-reassign": "warn",
    "no-console": "warn"
  }
}
