{
    "extends": "airbnb-base/legacy",
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true
    },
    "plugins": [
        "promise"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "arrowFunctions": true,
            "jsx": false
        }
    },
    "rules": {
        //  FIXME: should be error, not warning
        "indent": [
            "warn",
            4,
            {
                "SwitchCase": 1,
                "VariableDeclarator": 1,
                "outerIIFEBody": 1
            }
        ],
        "camelcase": "off",
        "func-names": "off",
        "max-len": ["error", 140, 2, {
            "ignoreUrls": true,
            "ignoreComments": false,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true
        }],
        "promise/always-return": "error",
        "promise/no-return-wrap": "error",
        "promise/param-names": "error",
        "promise/catch-or-return": "error",
        "promise/no-native": "off",
        "promise/no-nesting": "warn",
        "promise/no-promise-in-callback": "warn",
        "promise/no-callback-in-promise": "warn",
        "promise/avoid-new": "warn",
        //  TODO: We actually want to enable many of the following rules, but
        //  we need to make updates to our code first
        "space-in-parens": "off",
        "no-param-reassign": "off",
        "vars-on-top": "off",
        "no-mixed-operators": "off",
        "no-plusplus": "off",
        "object-property-newline": "warn",
        "object-curly-spacing": "off",
        "no-nested-ternary": "off",
        "no-useless-escape": "warn",
        "no-underscore-dangle": "off",
        "consistent-return": "off",
        "no-console": "warn",
        "no-unneeded-ternary": "warn",
        "wrap-iife": "off",
        "no-restricted-syntax": "warn",
        "computed-property-spacing": "warn",
        "padded-blocks": "warn",
        "radix": "warn",
        "operator-assignment": "warn",
        "no-use-before-define": "off",
        "no-lonely-if": "warn",
        "space-before-blocks": "warn",
        "no-prototype-builtins": "warn",
        "no-unused-vars": "warn",
        "no-constant-condition": "warn",
        "no-unreachable": "warn",
        "no-continue": "warn",
        "block-spacing": "warn",
        "spaced-comment": "warn",
        "brace-style": "warn",
        "block-scoped-var": "warn"
    },
    "globals": {
        "__DEV__": true,
        "Konva": false,
        "Marionette": false,
        "Backbone": false,
        "$": false,
        "_": false,
        "Handsontable": false,
        "Decimal": false,
        "Spinner": false,
        "App": false
    }
}
