{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "promise"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "jsx": false
    }
  },
  "rules": {
    "indent": [
      "error",
      4
    ],
    "max-len": [
      "error",
      140,
      2
    ],
    "promise/always-return": "error",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "promise/no-nesting": "warn",
    "promise/no-promise-in-callback": "warn",
    "promise/no-callback-in-promise": "warn",
    "promise/avoid-new": "warn",
    //  TODO: We actually want to enable many of the following rules, but
    //  we need to make updates to our code first
    "camelcase": "off",
    "no-param-reassign": "warn",
    "no-console": "warn",
    "no-underscore-dangle": "warn"
  }
}
