node_modules
bower_components
build
dist
static/public
dashboard/index.html
docs/index.html
drawing/index.html
quote/index.html
settings/index.html
supplier/index.html
units/index.html
split
*.sublime*
/index.html
/login.html
.idea
/local.conf.json
/logs
npm-debug.log
