<form method="post" enctype="multipart/form-data">
    <span class="uploader-file__preview-container"></span>
    <a class="add uploader-file__preview-item uploader-file__preview-item_new">
        <input name="files[]" class="uploader-file__input" type="file" accept="image/*,application/pdf" multiple/>
        <span class="uploader-file__drag-n-drop">or drag\'n\'drop</span>
        <span class="uploader-file__drag-n-drop__zone">Drop files there</span>
    </a>
</form>
