{{> 'dialogs/partials/base-dialog-start-wrapper' }}
    <div class="items-profiles-table-main-container">
        <h3>{{ collection_title }} availability for profiles</h3>

        <div class="items-profiles-table-scroll-wrapper">
            <div class="handsontable-container"></div>
        </div>
    </div>
{{> 'dialogs/partials/base-dialog-end-wrapper' }}
