@require('./partials/base-dialog-start-wrapper.hbs')
    <div class="items-profiles-table-main-container">
        <h3>{{ collection_title }} availability for profiles</h3>

        <div class="items-profiles-table-scroll-wrapper">
            <div class="handsontable-container"></div>
        </div>
    </div>
@require('./partials/base-dialog-end-wrapper.hbs')
