<div class="docs-outer-container">

    <div class="docs-controls-container">
        <a href="#" target="_blank" class="btn download-pdf">Download PDF</a>
        <a href="#" class="btn switch-docs">
            <span class="bg"></span>
            <span class="type">Quote</span>
            <span class="type">Supplier</span>
        </a>
    </div>

    <div class="docs-wrapper-container"></div>
</div>
