<div class="supplier-request-outer-container">
    <div class="supplier-request-container">
        <div class="supplier-request-header">
            <h1>Supplier Request</h1>
            <ul class="prossimo-info">
                <li class="prossimo-address"><strong>PO Box 232, Huguenot, NY 12746</strong></li>
                <li class="prossimo-phone"><strong>347 687 9888</strong></li>
                <li class="prossimo-email"><strong><a href="mailto:quotes@prossimo.us">quotes@prossimo.us</a></strong></li>
                <li class="prossimo-web"><strong><a href="http://www.prossimo.us">www.prossimo.us</a></strong></li>
            </ul>
        </div>

        <div class="supplier-request-table-container"></div>
    </div>
</div>
