<div class="top-bar-container">
    <div class="project-selector-container"></div>
    <div class="create-project-container">
        <a class="create-project-button">Create project</a>
    </div>
    <div class="project-settings-toggle-container">
        <button class="btn project-settings-toggle glyphicon glyphicon-cog{{#if is_settings_toggle_disabled }} disabled{{/if}}" title="Project Settings"></button>
    </div>
    <div class="spinner-container"></div>
    <div class="status-panel-container"></div>
</div>
<div class="bottom-bar-container">
    <div class="quote-selector-container"></div>
    <div class="edit-quotes-container">
        <btn class="btn btn-xs edit-quotes js-edit-quotes">Edit quotes</btn>
    </div>
    <div class="main-nav-container"></div>
</div>
