<ul>
    <li><strong>Grand Total</strong> <span>{{ grand_total }}</span></li>
    <li><strong>Total Cost</strong> <span>{{ total_cost }}</span></li>
    <li{{#if is_profit_negative }} class="is-negative"{{/if}}><strong>Profit</strong> <span>{{ profit }}</span></li>
</ul>
