<div class="windows-table">
    <div class="windows-table-title">
        <p>Windows list</p>
        <div class="windows-table-controls {{ table_visibility }}">
            <button class="btn js-add-new-window add-new-window">Add a new window</button>
        </div>
    </div>
    <div class="windows-table-contents {{ table_visibility }}">
        <div class="handsontable-container"></div>
    </div>
</div>
