<table class="filling-type-attributes"></table>

<div class="profile-availability">
    <h4>Available for Profiles</h4>
    <p class="profiles-list">{{ profiles_string }}</p>
    <button class="edit-fillingtype-profiles js-edit-fillingtype-profiles">
        <span class="glyphicon glyphicon-pencil"></span>
        <span>Edit Profiles</span>
    </button>
</div>
