<div class="filling-type-actions">
    <button class="btn clone-filling-type js-clone-filling-type">
        <span class="glyphicon glyphicon-duplicate"></span>
        <span>Clone filling type</span>
    </button>

    <button class="btn remove-filling-type js-remove-filling-type">
        <span class="glyphicon glyphicon-remove"></span>
        <span>Remove filling type</span>
    </button>
</div>

<table class="filling-type-attributes"></table>

<div class="profile-availability">
    <h3>Available for Profiles</h3>
    <button class="btn edit-fillingtype-profiles js-edit-fillingtype-profiles">
        <span class="glyphicon glyphicon-pencil"></span>
        <span>Edit Profiles</span>
    </button>
</div>
