<h2>Options Dictionaries</h2>

<button class="btn add-new-dictionary js-add-new-dictionary">Add new dictionary</button>

{{#if dictionaries_length }}
    <ul class="options-list-container"></ul>
    <p>Drag items in list to reorder.</p>
{{else}}
    <p>No Dictionaries. Please create one.</p>
{{/if}}
