<td class="entry-drag">
    <span class="glyphicon glyphicon-move"></span>
</td>
<td class="entry-name"></td>
<td class="entry-profiles">
    <p>{{ profiles }}</p>
    <button class="edit-entry-profiles js-edit-entry-profiles">Edit</button>
</td>
<td class="entry-remove">
    <button class="remove-entry js-remove-entry">
        <span class="glyphicon glyphicon-trash" title="Remove entry"></span>
    </button>
</td>
