<div class="dictionary-inputs-container">
    <div class="dictionary-name">
        <h2>Name</h2>
    </div>

    <div class="dictionary-restrictions">
        <h3>Rules and Restrictions</h3>
    </div>
</div>

<div class="entry-table-container"></div>
