<div class="dictionary-inputs-container">
    <div class="dictionary-name">
        <h2>Name</h2>
    </div>

    <div class="dictionary-attribute">
        <h3>Populates Which Unit Attribute</h3>
    </div>
</div>

<div class="entry-table-container"></div>
