<div class="pricing-grids-table-title">
    <h3>Pricing Grids</h3>
    {{!-- <div class="profiles-table-controls">
        <button class="btn add-new-profile js-add-new-profile">Add new profile</button>
    </div> --}}
</div>
<div class="pricing-grids-table-scroll-wrapper">
    <div class="pricing-grids-handsontable-container"></div>
</div>
