<div class="profiles-table-title">
    <h3>Profiles</h3>
    <div class="profiles-table-controls">
        <button class="btn add-new-profile js-add-new-profile">Add new profile</button>
    </div>
</div>
<div class="profiles-handsontable-container"></div>
