<table>
    <thead>
        <th class="profile-name">Profile Name</th>
        <th class="profile-is-default">Is Default?</th>
        <th class="profile-is-default">Pricing Grid</th>
    </thead>
    <tbody></tbody>
</table>
