<div class="profile-actions">
    <button class="btn clone-profile js-clone-profile">
        <span class="glyphicon glyphicon-duplicate"></span>
        <span>Clone profile</span>
    </button>

    <button class="btn remove-profile js-remove-profile">
        <span class="glyphicon glyphicon-remove"></span>
        <span>Remove profile</span>
    </button>
</div>

<div class="attributes-group attributes-group-general">
    <h2>General</h2>
    <table class="profile-attributes"></table>
</div>

<div class="attributes-group attributes-group-dimensions">
    <h2>Dimensions &amp; Weight</h2>
    <table class="profile-attributes"></table>
</div>

<div class="attributes-group attributes-group-threshold">
    <h2>Threshold</h2>
    <table class="profile-attributes"></table>
</div>

<div class="attributes-group attributes-group-performance">
    <h2>Performance</h2>
    <table class="profile-attributes"></table>
</div>
