<h3>UI Settings</h3>

<ul>
{{#each params }}
    <li class="{{ @key }}" data-param="{{ @key }}">
        <h6 class="title">{{ title }}</h6>
        <div class="value"></div>
    </li>
{{/each}}
</ul>
