<div id="drawing" oncontextmenu="return false;"></div>

<div class="popup-wrap" style="display: none">
    <div class="popup">
        <div style="text-align: center">
            <img class="split-section" data-type="vertical" src="/static/public/img/verticalMullion.png"/>
            <img class="split-section" data-type="horizontal" src="/static/public/img/horizontalMullion.png"/>
        </div>
        <div>
            <img class="change-sash-type" data-type="top-right" src="/static/public/img/sash-top-right.png"/>
            <img class="change-sash-type" data-type="top-left" src="/static/public/img/sash-top-left.png"/>
            <img class="change-sash-type" data-type="none" src="/static/public/img/sash-null.png"/>
        </div>
        <div>
            <img class="change-sash-type" data-type="top" src="/static/public/img/sash-top.png"/>
            <img class="change-sash-type" data-type="right" src="/static/public/img/sash-right.png"/>
            <img class="change-sash-type" data-type="left" src="/static/public/img/sash-left.png"/>
        </div>
        <div>
            <img class="change-sash-type" data-type="slide-right" src="/static/public/img/sash-slide-right.png"/>
            <img class="change-sash-type" data-type="slide-left" src="/static/public/img/sash-slide-left.png"/>
        </div>
    </div>
</div>
