<div id="drawing"></div>

<div id="controls">
    <div style="float: left; padding: 10px">
        Width:
        <input type="number" class="widthInput"/>
    </div>
    <div style="float: left; padding: 10px">
        Height:
        <input type="number" class="heightInput"/>
    </div>
</div>

<div class="mullion-wrap popup-wrap" style="display: none">
    <div class="popup">
        <img class="add-vertical-million" src="/static/public/img/verticalMullion.png"/>
        <img class="add-horizontal-million" src="/static/public/img/horizontalMullion.png"/>
    </div>
</div>