<div class="container">
    <div class="row dashboard-row">
        <div class="col-md-4">
            <div id="project-info"></div>
            <div id="project-export">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <button class="btn btn-primary toggle-export-dialog js-toggle-export-dialog">Export Pricing Data</button>
                        <button class="btn btn-default create-invoice">Create invoice</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="quote-info"></div>
            <div id="totals"></div>
        </div>
        <div class="col-md-3">
            <div id="documents"></div>
        </div>
    </div>
</div>
