//  This extends modal.less from Bootstrap

.modal-header {
    min-height: 50px;
}

.options-profiles-table-modal h3 {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.options-profiles-table-modal .modal-dialog {
    width: 800px;
}

.options-profiles-table-scroll-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    background-color: #d9d9d9;
}
