//  ------------------------------------------------------------------------
//  Header
//  ------------------------------------------------------------------------

.header {
    .clearfix();
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    right: 0;
    min-width: @min-page-width;
    height: @header-height;
}

.top-bar {
    height: 100%;
    border-bottom: 1px solid fadeout(@black, 50%);
}

.top-bar-container {
    position: relative;
    z-index: 200;
    height: @top-bar-height;
    background-color: lighten(@black, 28%);
}

.bottom-bar-container {
    position: relative;
    z-index: 150;
    height: @bottom-bar-height;
    padding-top: 0.4rem;
    padding-left: 0.5rem;
    background-color: lighten(@black, 35%);
    box-shadow: 0 0 3px 0 fadeout(@black, 50%);
}



//  ------------------------------------------------------------------------
//  Project selector
//  ------------------------------------------------------------------------

.project-selector {
    padding: 0.2rem 2rem 0.2rem 0.2rem;

    .dropdown-toggle {
        border-radius: 0;
        background-color: darken(@white, 10%);
    }
}

.project-selector-container {
    float: left;
}


//  ------------------------------------------------------------------------
//  Create project
//  ------------------------------------------------------------------------

.create-project-container {
    float: left;
    padding: 0.9rem 2rem 0 0;

    .create-project-button {
        color: #e6e6e6;
        cursor: pointer;
    }
}

//  ------------------------------------------------------------------------
//  Project settings
//  ------------------------------------------------------------------------

.project-settings-toggle-container {
    float: left;
    padding-top: 0.5rem;
}

.project-settings-toggle-container button {
    top: 0;
    display: block;
    background-color: lighten(@black, 30%);
    border-color: lighten(@black, 40%);
    font-size: 0.8em;
    color: darken(@white, 25%);

    &:focus {
        color: darken(@white, 25%);
        outline: none;
    }

    &:hover,
    &:active {
        background-color: lighten(@black, 40%);
        color: darken(@white, 10%);
        outline: none;
    }
}

.project-settings-panel {
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 100;
    width: 100%;
    padding: 0.8rem 2rem;
    border: 1px solid darken(@white, 65%);
    background-color: darken(@white, 60%);
    color: darken(@white, 5%);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: top 0.1s ease-out 0s;
}

.is-project-settings-panel-open .project-settings-panel {
    top: 100%;
}

.project-settings-panel p {
    margin-bottom: 0;
}

.project-settings-panel ul {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0;
}

.project-settings-panel li {
    display: inline-block;
}

.project-settings-panel li + li {
    margin-left: 2rem;
    padding-left: 2rem;
    border-left: 1px solid darken(@white, 50%);
}

.project-settings-panel li h6 {
    margin-top: 0;
}


//  ------------------------------------------------------------------------
//  Spinner
//  ------------------------------------------------------------------------

.spinner-container {
    position: relative;
    float: left;
    height: 100%;
    width: 5rem;
}


//  ------------------------------------------------------------------------
//  Status panel
//  ------------------------------------------------------------------------

.status-panel {
    float: right;
    padding: 0.9rem 3rem;
    color: darken(@white, 10%);
}

.status-panel p,
.status-panel ul {
    display: inline-block;
}

.status-panel ul {
    list-style-type: none;
}

.status-panel a {
    color: inherit;
}
