//  Header
//  ------------------------------------------------------------------------

.header {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    right: 0;
    height: @header-height;
    background-color: lighten(@black, 28%);
    box-shadow: 0 0 3px 0 fadeout(@black, 50%);
}


//  Project selector
//  ------------------------------------------------------------------------

.project-selector {
    padding: 1rem 3rem;
}

.project-selector h3 {
    display: inline-block;
    margin: 0 2rem 0 0;
    color: darken(@white, 10%);
    font-size: 1em;
    vertical-align: middle;
}
