.windows-table-container {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    flex: 0 1 auto;
    background-color: darken(@white, 20%);
}

.windows-table-title {
    position: relative;
    background-color: darken(@white, 35%);
    border-top: 1px solid darken(@white, 45%);
    border-bottom: 1px solid darken(@white, 45%);
    text-align: center;
    padding: 0.2em 3em;
    text-shadow: 1px 1px 0 darken(@white, 25%);

    &:hover,
    &:active {
        background-color: darken(@white, 30%);
        cursor: pointer;
    }
}

.windows-table-title p {
    margin: 0;
}

.windows-table-controls {
    position: absolute;
    right: 0;
    padding: 0.3rem 0.5rem;
    top: -0.9rem;
    background-color: darken(@white, 40%);
    border-radius: 5px 0 0 5px;
    border: 1px solid darken(@white, 45%);
}

.windows-table-contents {
    // padding: 1rem 4rem 1rem;
    // padding: 2rem 0 1rem;
    margin: 2rem 1rem 1rem;
    min-height: 5rem;
    max-height: 30rem;
    overflow: auto;
}

// .windows-table-contents table {
//     margin-bottom: 1rem;
//     background-color: @white;
//     border: 1px solid darken(@white, 30%);
// }

// .windows-table-contents tfoot button {
//     width: 100%;
// }


//  Custom styles for handsontable

.windows-table-contents table {
    width: 100%;
}

.windows-table-contents .wtHolder {
    width: 100%;
}
