.windows-table-container {
    position: relative;
    z-index: 300;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    flex: 0 1 auto;
    background-color: darken(@white, 20%);
    box-shadow: 0 0 3px 0 fadeout(@black, 70%);
}

.windows-table {
    position: relative;
    z-index: 300;
    background-color: inherit;
}

.windows-table-title {
    background-color: darken(@white, 35%);
    border-top: 1px solid darken(@white, 45%);
    border-bottom: 1px solid darken(@white, 45%);
    text-align: center;
    padding: 0.2em 3em;
    text-shadow: 1px 1px 0 darken(@white, 25%);

    &:hover,
    &:active {
        background-color: darken(@white, 30%);
        cursor: pointer;
    }
}

.windows-table-title p {
    margin: 0;
}

.windows-table-controls {
    position: absolute;
    right: 0;
    padding: 0.3rem 0.5rem;
    top: -0.9rem;
    background-color: darken(@white, 40%);
    border-radius: 5px 0 0 5px;
    border: 1px solid darken(@white, 45%);
}

.windows-table-controls .add-new-window,
.windows-table-controls .add-new-accessory {
    display: none;
}

.windows-table-controls.show-windows .add-new-window,
.windows-table-controls.show-extras .add-new-accessory {
    display: block;
}



//  ------------------------------------------------------------------------
//  Table content part
//  ------------------------------------------------------------------------

.windows-table-contents {
    // padding: 1rem 4rem 1rem;
    // padding: 2rem 0 1rem;
    margin: 2rem 1rem 1rem;
    min-height: 5rem;
    max-height: 30rem;
    overflow: auto;
}

// .windows-table-contents table {
//     margin-bottom: 1rem;
//     background-color: @white;
//     border: 1px solid darken(@white, 30%);
// }

// .windows-table-contents tfoot button {
//     width: 100%;
// }


//  Tabs

.windows-table-contents .nav-tabs {
    border-bottom: none;
    margin-bottom: 1rem;
}

.windows-table-contents .nav > li > a {
    padding: 0.5rem 1.5rem;
    border: 1px solid darken(@white, 30%);
    border-radius: 0;
    color: lighten(@black, 30%);
    margin: 0;
    background-color: #ccc;

    &:hover,
    &:active {
        background-color: #efefef;
    }
}

.windows-table-contents .nav > li + li > a,
.windows-table-contents .nav > li + li.active > a {
    border-left: none;
}

.windows-table-contents .nav > li.active {
    > a {
        background-color: #fff;
    }

    > a:hover,
    > a:active {
        border-color: darken(@white, 30%);
        background-color: #fff;
    }
}


//  ------------------------------------------------------------------------
//  Custom styles for handsontable
//  ------------------------------------------------------------------------

.windows-table-contents table {
    width: 100%;
}

.windows-table-contents .wtHolder {
    width: 100%;
}

.windows-table-contents .wtHolder td img {
    max-width: 100%;
    height: auto;
    max-height: 10rem;
}


//  Specific styles for the quote screen

// .quote-screen .windows-table-container:before {
//     position: absolute;
//     left: 3rem;
//     right: 4rem;
//     top: 1rem;
//     box-shadow: 0px 0px 12px 19px rgba(255, 255, 255, 1);
//     // box-shadow: 0px 0px 12px 19px rgba(255, 0, 255, 0.9);
//     content: '';
// }
