<div class="drawing-controls help-hidden" id="drawing-controls">

    <button class="btn btn-xs" id="undo">Undo</button>
    <button class="btn btn-xs" id="redo">Redo</button>
    <button class="btn btn-xs" id="clear-frame">Clear frame</button>
    <button class="btn btn-xs" id="change-view-button">Show outside view</button>
    <div class="drawing-view-title" id="drawing-view-title">Outside view</div>

    <div class="section-controls" id="section-controls">
        <span class="multiunit-controls controls-block" id="multiunit-controls">
            <span class="controls-label">Multiunit:</span>
            <ul class="button-list">
                <li>
                    <img class="button" src="/assets/img/add_connector_menu.png">
                    <ul class="add-connector button-grid">
                        <li><img class="add-connector button" data-side="top" src="/assets/img/add_connector_top.png"></li>
                        <li><img class="add-connector button" data-side="right" src="/assets/img/add_connector_right.png"></li>
                        <li><img class="add-connector button" data-side="bottom" src="/assets/img/add_connector_bottom.png"></li>
                        <li><img class="add-connector button" data-side="left" src="/assets/img/add_connector_left.png"></li>
                    </ul>
                </li>
                <li><img class="remove-subunit button" src="/assets/img/remove_subunit.png"></li>
            </ul>
        </span>

        <span class="arched-controls controls-block" id="arched-controls">
            <ul class="button-list">
                <li><img class="add-arched button" id="add-arched" src="/assets/img/add_arched_section.png"></li>
                <li><img class="remove-arched button" id="remove-arched" src="/assets/img/remove_arched_section.png"></li>
            </ul>
        </span>

        <span class="circular-controls controls-block" id="circular-controls">
            <ul class="button-list">
                <li><img class="add-circular button" id="add-circular" src="/assets/img/add_circular_section.png"></li>
                <li><img class="remove-circular button" id="remove-circular" src="/assets/img/remove_circular_section.png"></li>
            </ul>
        </span>

        <div class="section-split-controls controls-block" id="section-split-controls">
            <span class="controls-label">Split section:</span>
            <ul class="button-list help-squares">
                <li><img class="split-section button" data-type="vertical" data-key="1" src="/assets/img/vertical_mullion.png"><small>1</small></li>
                <li><img class="split-section button" data-type="horizontal" data-key="2" src="/assets/img/horizontal_mullion.png"><small>2</small></li>
                <li><img class="split-section button" data-type="vertical_invisible" data-key="3" src="/assets/img/vertical_invisible_mullion.png"><small>3</small></li>
                <li><img class="split-section button" data-type="horizontal_invisible" data-key="4" src="/assets/img/horizontal_invisible_mullion.png"><small>4</small></li>
            </ul>
        </div>

        <div class="sash-controls controls-block" id="sash-controls">
            <span class="controls-label">Section type:</span>
            <ul class="button-list help-squares">
                <li><img class="change-sash-type button" data-type="slide_left" data-key="q" src="/assets/img/sash_slide_left_1.png"><small>q</small></li>
                <li><img class="change-sash-type button" data-type="slide_right" data-key="w" src="/assets/img/sash_slide_right_1.png"><small>w</small></li>
                <li><img class="change-sash-type button" data-type="tilt_only" data-key="e" src="/assets/img/tilt_only.png"><small>e</small></li>
                <li><img class="change-sash-type button" data-type="fixed_in_sash" data-key="r" src="/assets/img/fixed_in_sash.png"><small>r</small></li>
                <li><img class="change-sash-type button" data-type="fixed_in_frame" data-key="`" src="/assets/img/fixed_in_frame.png"><small class="tiny">`</small></li>
                <li><img class="change-sash-type button" data-type="turn_only_right" data-key="a" src="/assets/img/turn_only_right.png"><small>a</small></li>
                <li><img class="change-sash-type button" data-type="turn_only_left" data-key="s" src="/assets/img/turn_only_left.png"><small>s</small></li>
                <li><img class="change-sash-type button" data-type="tilt_turn_right" data-key="d" src="/assets/img/tilt_turn_right.png"><small>d</small></li>
                <li><img class="change-sash-type button" data-type="tilt_turn_left" data-key="f" src="/assets/img/tilt_turn_left.png"><small>f</small></li>
                <li><img class="change-sash-type button" data-type="tilt_slide_left" data-key="z" src="/assets/img/tilt_slide_left_1.png"><small>z</small></li>
                <li><img class="change-sash-type button" data-type="tilt_slide_right" data-key="x" src="/assets/img/tilt_slide_right_1.png"><small>x</small></li>
                <li><img class="change-sash-type button" data-type="turn_only_left_hinge_hidden_latch" data-key="c" src="/assets/img/turn_only_left_hinge_hidden_latch.png"><small>c</small></li>
                <li><img class="change-sash-type button" data-type="turn_only_right_hinge_hidden_latch" data-key="v" src="/assets/img/turn_only_right_hinge_hidden_latch.png"><small>v</small></li>
            </ul>
        </div>

        <br class="drawing-ui-divider">

        <span class="filling-type-controls controls-block" id="filling-type-controls">
            <span class="controls-label">Filling:</span>
            <select id="filling-select" class="selectpicker show-tick" title="Choose filling type" data-live-search="true">
            {{#each filling_types }}
                {{#if name }}<option value="{{ cid }}" data-subtext="{{ type }}">{{ name }}</option>{{/if}}
            {{/each }}
            </select>
        </span>

        <span class="bar-controls controls-block" id="bar-controls">
            <button class="btn btn-xs" id="glazing-bars-popup">Set Glazing Bars</button>
        </span>

        <span class="filling-tool-controls controls-block" id="filling-tool-controls">
            <button class="btn btn-xs" id="filling-clone" title="Clone filling & bars from this sash to another">Clone</button>
            <button class="btn btn-xs" id="filling-sync" title="Align glazing in another sash to this sash">Sync</button>
        </span>

        <br class="drawing-ui-divider">

        <span class="metric-controls controls-block" id="metric-controls">
            <span class="controls-label">Show overlay metrics:</span>
            <label for="additional-metrics-glass">
                <input class="radio" name="additional-metrics-glass" id="additional-metrics-glass" type="checkbox" value="1">
                Glass size
            </label>
            <label for="additional-metrics-opening">
                <input class="radio" name="additional-metrics-opening" id="additional-metrics-opening" type="checkbox" value="1">
                Vent Opn. Size
            </label>
        </span>
    </div>

</div>

<div class="hovering-drawing-controls help-hidden" id="hovering-drawing-controls">

    <div class="hovering-section-controls" id="hovering-section-controls">
        <ul class="menu-row button-list help-squares">
            <li><img class="split-section button" data-type="vertical" data-key="1" src="/assets/img/vertical_mullion.png"><small>1</small></li>
            <li><img class="split-section button" data-type="horizontal" data-key="2" src="/assets/img/horizontal_mullion.png"><small>2</small></li>
            <li><img class="split-section button" data-type="vertical_invisible" data-key="3" src="/assets/img/vertical_invisible_mullion.png"><small>3</small></li>
            <li><img class="split-section button" data-type="horizontal_invisible" data-key="4" src="/assets/img/horizontal_invisible_mullion.png"><small>4</small></li>
        </ul>
        <ul class="menu-row button-list help-squares">
            <li><img class="change-sash-type button" data-type="slide_left" data-key="q" src="/assets/img/sash_slide_left_1.png"><small>q</small></li>
            <li><img class="change-sash-type button" data-type="slide_right" data-key="w" src="/assets/img/sash_slide_right_1.png"><small>w</small></li>
            <li><img class="change-sash-type button" data-type="tilt_only" data-key="e" src="/assets/img/tilt_only.png"><small>e</small></li>
            <li><img class="change-sash-type button" data-type="fixed_in_sash" data-key="r" src="/assets/img/fixed_in_sash.png"><small>r</small></li>
        </ul>
        <ul class="menu-outlier button-list help-squares">
            <li><img class="change-sash-type button" data-type="fixed_in_frame" data-key="`" src="/assets/img/fixed_in_frame.png"><small class="tiny">`</small></li>
        </ul>
        <ul class="menu-row button-list help-squares">
            <li><img class="change-sash-type button" data-type="turn_only_right" data-key="a" src="/assets/img/turn_only_right.png"><small>a</small></li>
            <li><img class="change-sash-type button" data-type="turn_only_left" data-key="s" src="/assets/img/turn_only_left.png"><small>s</small></li>
            <li><img class="change-sash-type button" data-type="tilt_turn_right" data-key="d" src="/assets/img/tilt_turn_right.png"><small>d</small></li>
            <li><img class="change-sash-type button" data-type="tilt_turn_left" data-key="f" src="/assets/img/tilt_turn_left.png"><small>f</small></li>
        </ul>
        <ul class="menu-row button-list help-squares">
            <li><img class="change-sash-type button" data-type="tilt_slide_left" data-key="z" src="/assets/img/tilt_slide_left_1.png"><small>z</small></li>
            <li><img class="change-sash-type button" data-type="tilt_slide_right" data-key="x" src="/assets/img/tilt_slide_right_1.png"><small>x</small></li>
            <li><img class="change-sash-type button" data-type="turn_only_left_hinge_hidden_latch" data-key="c" src="/assets/img/turn_only_left_hinge_hidden_latch.png"><small>c</small></li>
            <li><img class="change-sash-type button" data-type="turn_only_right_hinge_hidden_latch" data-key="v" src="/assets/img/turn_only_right_hinge_hidden_latch.png"><small>v</small></li>
        </ul>
    </div>

</div>

<div class="drawing-area" id="drawing-area" tabindex="0"></div>
