<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Project Info</h3>
        <button class="btn btn-default toggle-edit-mode"><span class="glyphicon glyphicon-pencil"></span> </button>
    </div>
    <div id="project-info-content" class="panel-body">
    </div>
</div>
