<div class="quote-outer-container">
    <div class="quote-container">
        <div class="quote-header-container"></div>
        <div class="quote-table-container"></div>

        <div class="quote-terms-info">
            <h2>All SALES SUBJECT TO PROSSIMO LLC TERMS AND CONDITIONS</h2>
            <ul class="warranty">
                <li>Limited warranty: 15 years</li>
                <li>Lead time: 10-12 weeks</li>
            </ul>
            <p>U-value calculations are based on EN ISO 1077</p>
            <p>Payments accepted: Check, money order, bank transfer</p>

            <table>
                <tr>
                    <td colspan="2">I have reviewed and agree to the above quotation for windows and doors.</td>
                </tr>
                <tr>
                    <td>Name:_________________________________</td>
                    <td>Signature:_________________________________</td>
                </tr>
            </table>
        </div>
    </div>
</div>
