<td class="ref">{{ reference_id }}</td>
<td class="extras-product-description">{{ description }}</td>
<td class="quantity">{{ quantity }}</td>
{{#if show_price }}
<td class="price">
    <table class="unit-price">
        <tbody>
            <tr class="subtotal">
                <td>Subtotal:</td>
                <td class="value">{{ price.subtotal }}</td>
            </tr>
        </tbody>
    </table>
</td>
{{/if }}
