<div class="quote-table">
    <div class="quote-table-body"></div>
    {{#if show_price }}
        {{#if has_extras }}
        <table class="subtotal">
            <tbody><tr>
                <td colspan="{{ price_colspan }}"></td>
                <td class="price">
                    <table class="quote-total-prices">
                        <tbody>
                            <tr class="total">
                                <td><strong>Subtotal</strong></td>
                                <td class="value"><strong>{{ total_prices.subtotal_units_with_hidden }}</strong></li></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr></tbody>
        </table>
        {{/if}}
    {{/if}}
</div>

{{#if has_extras }}
<div class="quote-extras-table-container"></div>
<div class="quote-optional-extras-table-container"></div>
{{/if}}

{{#if show_price }}
<table class="quote-table grand-total">
    {{> 'quote/partials/quote-table-grand-total' }}
</table>
{{/if }}
