<table class="quote-table">
    <thead>
        <tr>
            {{#each table_attributes }}
            <th class="{{ name }}">{{ title }}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody></tbody>
</table>
