//  Header
//  ------------------------------------------------------------------------

.header {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    right: 0;
    height: @header-height;
    background-color: lighten(@black, 28%);
    box-shadow: 0 0 3px 0 fadeout(@black, 50%);
}
