//  Colors

@white:                 #fff;
@black:                 #000;

@red:                   #E94646;
@green:                 #00BAA9;
@teal:                  #E0F4FE;
@blue:                  #ADD8E6;
@selection-blue:        #337AB7;


//  Sizing variables

@header-height:         4rem;
@sidebar-width:         8rem;


//  Transitions

@simple-transition:     0.2s ease 0s;


//  Effects
@button-hover-brightness:      104%;


//  Style library

.bs-dropdown-style() {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}