//  Colors

@white:                 #fff;
@black:                 #000;

@red:                   #E94646;

//  Sizing variables

@header-height:         5rem;
@sidebar-width:         8rem;


//  Transitions

@simple-transition:     0.2s ease 0s;
