.docs-import-screen {
    display: flex;
    flex-flow: column;
}

.docs-selection-area {
    flex: 0 1 auto;
    min-height: 5rem;
    padding: 1.5rem 3rem;
    background-color: darken(@white, 30%);
    border-bottom: 1px solid darken(@white, 40%);
}


.file-preview-area {
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
}

.file-preview-area .preview-iframe {
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


//  File list

.document-list-container {
    padding: 1.5rem 3rem;
    height: 100%;
}

.document-list ul {
    padding: 1.5rem 0.5rem;
    list-style-type: none;
}

.document-list p {
    padding: 1.5rem 0.5rem;
}

.document-list li {
    margin-bottom: 0.5rem;
}

.document-list a {
    text-decoration: none;
}

.document-list .glyphicon {
    position: relative;
    top: -0.03em;
    padding-left: 0.3rem;
    font-size: 0.7em;
    line-height: 0.1;
}
