.docs-import-screen {
    display: flex;
    flex-flow: column;
}

.docs-selection-area {
    flex: 0 1 auto;
    min-height: 5rem;
    padding: 1.5rem 3rem;
    background-color: darken(@white, 30%);
    border-bottom: 1px solid darken(@white, 40%);
}


.file-preview-area {
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
}

.file-preview-area .preview-iframe {
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
