.drawing-screen {
    .clearfix();
}

.drawing-container {
    float: left;
    width: 70%;
    height: 100%;
}

.drawing-container > div {
    position: relative;
    width: 100%;
    height: 100%;
}


#controls {
    position: absolute;
    top: 4px;
    left: 4px;
}

.popup {
    background-color: white;
    padding: 3px;
    box-shadow: 0 0 3px;
    border-radius: 4px;
    position: absolute;
}

.popup-wrap {
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup img {
    margin: 0.2em;
}


//  ------------------------------------------------------------------------
//  Sidebar
//  ------------------------------------------------------------------------

.drawing-sidebar-container {
    float: left;
    width: 30%;
    height: 100%;
    background-color: darken(@white, 25%);
    overflow: auto;
}

.drawing-sidebar {
    padding: 2rem;
}

.drawing-sidebar h3 {
    margin-bottom: 2rem;
}

.drawing-sidebar h4 {
    margin-bottom: 1.5rem;
}

.active-window-image {
    margin: 3rem 0;
}

.active-window-image img {
    max-width: 100%;
}

.active-window-properties,
.active-window-profile-properties {
    margin: 3rem 0;
}

.drawing-sidebar table {
    width: 100%;
    font-size: 0.9em;
}

.drawing-sidebar table td {
    padding: 0.2rem 0.8rem;
    border: 1px solid darken(@white, 20%);
    background-color: darken(@white, 10%);
}
