.quote-screen {
    display: flex;
    flex-flow: column;
}

.quote-outer-container {
    padding: 2rem;
    flex: 1 1 auto;
    overflow: auto;
}

.quote-container {
    margin-bottom: 2rem;
    padding: 3rem 4rem 4rem;
    background-color: @white;
    border: 1px solid darken(@white, 15%);
    min-height: 100%;
    max-width: 170rem;
    min-width: 150rem;
    width: 100%;
    overflow: visible;
}


//  ------------------------------------------------------------------------
//  Quote header (Prossimo info)
//  ------------------------------------------------------------------------

.quote-header {
    position: relative;
    margin-bottom: 3rem;
    text-align: right;
}

.prossimo-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 18rem;
    height: auto;
}

.prossimo-logo img {
    width: 100%;
    height: auto;
}

.quote-header h1 {
    padding-top: 2rem;
    margin: 0 0 4rem;
    font-weight: 700;
    color: darken(@white, 30%);
    text-transform: uppercase;
    text-align: right;
}

.quote-header ul {
    display: inline-block;
    text-align: left;
    margin: 0 3rem;
    list-style-type: none;
}


//  ------------------------------------------------------------------------
//  Project info
//  ------------------------------------------------------------------------

.quote-project-info .project-name {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 2em;
}

.quote-project-info ul {
    list-style-type: none;
    padding: 0;
}


//  ------------------------------------------------------------------------
//  Table
//  ------------------------------------------------------------------------

.quote-table-container {
    margin: 3rem 0 0;
}

.quote-table {
    // border: 1px solid darken(@white, 10%);
    width: 100%;
    table-layout: fixed;
}

.quote-table thead th {
    padding: 0.5em 1em;
    border: 1px solid darken(@white, 20%);
    background-color: darken(@white, 1%);
}

.quote-table tbody td {
    padding: 0.5em 1em;
    border: 1px solid darken(@white, 10%);
    vertical-align: top;
}

//  ------------------------------------------------------------------------
//  Units
//  ------------------------------------------------------------------------

.quote-item {
    margin-bottom: 2rem;
}

.quote-unit {
    width: 100%;
    table-layout: fixed;
}

.product_description ul,
.tech_specs ul {
    padding: 0;
    list-style-type: none;
}

.quote-table .unit-price {
    width: 100%;
}

.quote-table .unit-price td {
    padding: 0;
    border: none;
    vertical-align: bottom;
}

.quote-table .unit-price tr.subtotal {
    font-weight: 700;
}

.quote-table .unit-price td.value {
    text-align: right;
}

table.subtotal {
    table-layout: fixed;
    width: 100%;
    border: 1px solid darken(@white, 10%);
    background-color: darken(@white, 1%);
}


//  ------------------------------------------------------------------------
//  Columns
//  ------------------------------------------------------------------------


td.ref,
th.ref {
    width: 4%;
}

td.mark,
th.mark {
    width: 4%;
}

td.customer_image,
th.customer_image {
    width: 16%;
}

td.customer_image img {
    display: block;
    max-height: 20em;
    max-width: 100%;
}

td.product_image,
th.product_image {
    width: 34%;
}

td.product_image img {
    display: block;
    max-height: 30em;
    max-width: 100%;
}

td.product_description,
th.product_description {
    width: 22%;
}

td.quantity,
th.quantity {
    width: 4%;
}

td.price,
th.price {
    width: 20%;
}

td.extras_product_description,
th.extras_product_description {
    width: 72%;
}

.subtotal td.price,
.subtotal th.price,
.grand-total td.price,
.grand-total th.price {
    width: 24%;
}

.no-customer-image {
    td.product_image,
    th.product_image {
        width: 42%;
    }

    td.product_image img {
        max-height: 36em;
    }

    td.product_description,
    th.product_description {
        width: 30%;
    }
}


//  ------------------------------------------------------------------------
//  Table footer
//  ------------------------------------------------------------------------

.quote-table tfoot td {
    padding: 0.5em 1em;
    border: 1px solid darken(@white, 10%);
    background-color: darken(@white, 1%);
    vertical-align: top;
}

.quote-table .quote-total-prices {
    width: 100%;
}

.quote-table .quote-total-prices td {
    padding: 0;
    border: none;
    vertical-align: bottom;
}

.quote-table .quote-total-prices td.value {
    text-align: right;
}

.quote-table .quote-total-prices tr.total {
    font-size: 1.2em;
}

.quote-table .quote-total-prices tr.grand-total {
    font-size: 1.4em;
}

table.grand-total tr {
    background-color: darken(@white, 2%);
}

div + table.grand-total {
    margin-top: 4rem;
}


//  ------------------------------------------------------------------------
//  Extras table
//  ------------------------------------------------------------------------

.quote-extras-table {
    &:extend(.quote-table all);
}

.extras-heading {
    margin: 0.8em 0.8em 0;
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.optional-extras-subheading {
    margin: 0.2em 0.8em 0;
    font-size: 0.9em;
    text-align: center;
    font-weight: 700;
}

.extras-heading + table,
.optional-extras-subheading + table {
    margin-top: 1rem;
}

//  ------------------------------------------------------------------------
//  Terms (below table)
//  ------------------------------------------------------------------------

.quote-terms-info {
    margin-top: 6rem;
}

.quote-terms-info h2 {
    width: 60%;
}

.quote-terms-info ul {
    margin: 4rem 0;
    padding: 0;
    font-weight: 700;
    list-style-type: none;
}

.quote-terms-info table {
    margin: 4rem 0 0;
    width: 100%;
}

.quote-terms-info table td {
    padding: 1rem 0;
}
