.profiles-table-container {
    padding: 1.5rem 3rem;
}

.profiles-table-scroll-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15rem;
    background-color: darken(@white, 15%);
}

.profiles-table-title {
    .clearfix();
}

.profiles-table-controls {
    position: relative;
    top: -3rem;
    float: right;
}

.profiles-table-controls .btn {
    border-color: darken(@white, 30%);
}
