// .settings-screen {

// }

.profiles-table-container {
    padding: 1.5rem 3rem;
}

.profiles-table-title {
    .clearfix();
}

// .profiles-table-title h3 {
//     float: left;
// }

.profiles-table-controls {
    position: relative;
    top: -3rem;
    float: right;
}

.profiles-table-controls .btn {
    border-color: darken(@white, 30%);
}
