.settings-screen {
    display: flex;
    flex-flow: column nowrap;
}


//  ------------------------------------------------------------------------
//  Tabs
//  ------------------------------------------------------------------------

.settings-screen .tab-container {
    flex: 0 1 auto;
    padding: 1.5rem 3rem;
    background-color: #B3B3B3;
    border-bottom: 1px solid #999;
}

.settings-screen .nav-tabs {
    border-bottom: medium none;
    margin-bottom: 0;
}

.settings-screen .nav > li > a {
    padding: 0.5rem 1.5rem;
    border: 1px solid #999;
    border-radius: 0;
    color: lighten(@black, 30%);
    margin: 0;
    background-color: #ccc;

    &:hover,
    &:active {
        background-color: #efefef;
    }
}

.settings-screen .nav > li + li > a,
.settings-screen .nav > li + li.active > a {
    border-left: none;
}

.settings-screen .nav > li.active {
    > a {
        background-color: #fff;
    }

    > a:hover,
    > a:active {
        border-color: darken(@white, 30%);
        background-color: #fff;
    }
}


//  ------------------------------------------------------------------------
//  Content
//  ------------------------------------------------------------------------

.active-tab-content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}


//  ------------------------------------------------------------------------
//  Profiles
//  ------------------------------------------------------------------------

.profiles-container {
    padding: 1.5rem 3rem;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.profiles-table {
    height: 100%;
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}

.profiles-table-title {
    flex: 0 1 auto;
}

.profiles-table-scroll-wrapper {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: darken(@white, 15%);
}

.profiles-table-title {
    .clearfix();
}

.profiles-table-controls {
    position: relative;
    top: -3rem;
    float: right;
}

.profiles-table-controls .btn {
    border-color: darken(@white, 30%);
}


//  ------------------------------------------------------------------------
//  Filling types
//  ------------------------------------------------------------------------

.filling_types-container {
    &:extend(.profiles-container all);
}

.filling-types-table {
    &:extend(.profiles-table all);
}

.filling-types-table-title {
    &:extend(.profiles-table-title all);
}

.filling-types-table-scroll-wrapper {
    &:extend(.profiles-table-scroll-wrapper all);
}

.filling-types-table-title {
    &:extend(.profiles-table-title all);
}

.filling-types-table-controls {
    &:extend(.profiles-table-controls all);
}

.filling-types-table-controls .btn {
    &:extend(.profiles-table-controls .btn all);
}


//  ------------------------------------------------------------------------
//  UI Settings
//  ------------------------------------------------------------------------

.ui_settings-container {
    padding: 1.5rem 3rem;
    height: 100%;
    flex: 1 1 auto;
}

.ui-settings ul {
    margin-top: 4rem;
    padding-left: 0;
    list-style-type: none;
}

.ui-settings ul h6,
.ui-settings ul p,
.ui-settings ul button {
    display: inline-block;
    margin-right: 2rem;
}

.ui-settings ul h6 {
    font-size: 1em;
    font-weight: 700;
}

.ui-settings ul h6:after {
    content: ':';
}

.ui-settings ul button {
    border: 1px solid darken(@white, 30%);
}


//  ------------------------------------------------------------------------
//  Pricing Grids
//  ------------------------------------------------------------------------

.pricing_grids-container {
    &:extend(.profiles-container all);
}

.pricing-grids-table {
    &:extend(.profiles-table all);
}

.pricing-grids-table-title {
    &:extend(.profiles-table-title all);
}

.pricing-grids-table-scroll-wrapper {
    &:extend(.profiles-table-scroll-wrapper all);
}

.pricing-grids-table-title {
    &:extend(.profiles-table-title all);
}

.pricing-grids-table-controls {
    &:extend(.profiles-table-controls all);
}

.pricing-grids-table-controls .btn {
    &:extend(.profiles-table-controls .btn all);
}

.profile-selector-container {
    // position: relative;
    // top: -4rem;
    float: right;
}

.profile-selector-container .btn {
    border: 1px solid darken(@white, 30%);
}

.no-current-profile-message {
    position: absolute;
    font-size: 1.2em;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.pricing-grids-table-title .tab-container {
    flex: none;
    padding: 2rem 0 1rem;
    background-color: transparent;
    border: none;
}

.pricing-grids-table-title .nav > li > a {
    border-color: darken(@white, 30%);
}
