<select name="document-selector-dropdown" id="document-selector-dropdown" class="selectpicker" title='Choose a PDF document'>
    {{#each document_list}}
        <option {{#if is_selected }}selected{{/if}} value="{{ url }}">{{ name }}</option>
    {{/each}}
</select>
