<div class="docs-selection-area"></div>

<div class="file-preview-area">
    <p class="welcome-notice">Hey! Welcome to Docs Import screen. <br><small>Please start by selecting a PDF file.</small></p>
    <iframe class="preview-iframe" src="" frameborder="0"></iframe>
</div>
