{{!-- README: some stuff is commented out due to this issue:
      https://bitbucket.org/prossimo/prossimo-app/issues/137
      This is a temporary change, we're going to re-evaluate this screen
      when we'll start integration with PDF-processing API  --}}

{{!-- <div class="docs-selection-area"></div> --}}

<div class="file-preview-area">
    {{!-- <p class="welcome-notice">Hey! Welcome to Docs Import screen. <br><small>Please start by selecting a PDF file.</small></p> --}}
    {{!-- <iframe class="preview-iframe" src="" frameborder="0"></iframe> --}}
    <div class="document-list-container"></div>
</div>
