<div class="docs-selection-area">
    <input id="docs-file" type="file">
</div>

<div class="file-preview-area">
    <p>Hey! Welcome to Docs Import screen. <br><small>Please start by selecting a PDF file.</small></p>
</div>
