<div class="no-project-selected-message-area">
    <p class="welcome-notice">Hey! Nice to see you again. <br><small>Please start by selecting Project and Quote in the top left menu.</small></p>
</div>
